<div class="bg-dark py-4 py-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="mb-3 text-white">Page Title</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="#" class="text-white">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop</li>
                </ol>
            </div>
        </div>
    </div>
</div>