        <div class="footer bg-white pt-5 border-top border-4">
            <div class="footer_top">
                <div class="container">
                    <div class="row row-cols-1 gy-5 gy-lg-0 row-cols-lg-4">
                        <div class="col">
                            <div class="footer_widget">
                                <div class="footer_widget__content">
                                    <img src="http://placehold.it/100x40" alt="Logo" class="mb-3">
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer_widget">
                                <h6 class="footer_widget__title text-uppercase mb-3 fw-bolder">Categories</h6>
                                <div class="footer_widget__content">
                                    <ul class="navigation m-0 p-0">
                                        <li><a href="#">Booking Products</a></li>
                                        <li><a href="#">Cloths</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer_widget">
                                <h6 class="footer_widget__title text-uppercase mb-3 fw-bolder">Quick Links</h6>
                                <div class="footer_widget__content">
                                    <ul class="navigation m-0 p-0">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Return Policy</a></li>
                                        <li><a href="#">Refund Policy</a></li>
                                        <li><a href="#">Terms &amp; Conditions</a></li>
                                        <li><a href="#">Terms of Use</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer_widget">
                                <h6 class="footer_widget__title text-uppercase mb-3 fw-bolder">Connect With Us</h6>
                                <div class="footer_widget__content">
                                    <ul class="navigation navigation_social_media m-0 p-0">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i> Google Plus</a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col py-3 border-top mt-5 mt-lg-0">
                            <p class="copyright m-0 small">&copy; 2021 eCommerce. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/scripts.bundle.js"></script>
    </body>
</html>