        <div class="footer bg-white pt-5 border-top border-4">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-3 mb-5">
                                    <div class="footer_widget">
                                        <h6 class="footer_widget__title text-uppercase mb-3 fw-bolder">Customer Services</h6>
                                        <div class="footer_widget__content">
                                            <ul class="navigation m-0 p-0">
                                                <li><a href="#">Help &amp; Contact Us</a></li>
                                                <li><a href="#">Returns &amp; Refunds</a></li>
                                                <li><a href="#">Online Stores</a></li>
                                                <li><a href="#">Terms &amp; Conditions</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-5">
                                    <div class="footer_widget">
                                        <h6 class="footer_widget__title text-uppercase mb-3 fw-bolder">Company</h6>
                                        <div class="footer_widget__content">
                                            <ul class="navigation m-0 p-0">
                                                <li><a href="#">What We Do</a></li>
                                                <li><a href="#">Available Services</a></li>
                                                <li><a href="#">Latest Posts</a></li>
                                                <li><a href="#">FAQs</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-5">
                                    <div class="footer_widget">
                                        <h6 class="footer_widget__title text-uppercase mb-3 fw-bolder">Profile</h6>
                                        <div class="footer_widget__content">
                                            <ul class="navigation m-0 p-0">
                                                <li><a href="#">My Account</a></li>
                                                <li><a href="#">Checkout</a></li>
                                                <li><a href="#">Order Tracking</a></li>
                                                <li><a href="#">Help &amp; Support</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-5">
                                    <div class="footer_widget">
                                        <h6 class="footer_widget__title text-uppercase mb-3 fw-bolder">Social Media</h6>
                                        <div class="footer_widget__content">
                                            <ul class="navigation m-0 p-0">
                                                <li><a href="#">Facebook</a></li>
                                                <li><a href="#">Twitter</a></li>
                                                <li><a href="#">Tumblr</a></li>
                                                <li><a href="#">Pinterest</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-5">
                            <div class="footer_widget">
                                <h6 class="footer_widget__title text-uppercase mb-3 fw-bolder">Site Settings</h6>
                                <div class="footer_widget__content">
                                    <div class="dropdown">
                                        <a class="btn btn-outline-dark dropdown-toggle" href="#" data-bs-toggle="dropdown" style="min-width: 110px">Language</a>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" href="#">English</a></li>
                                            <li><a class="dropdown-item" href="#">Chinese</a></li>
                                            <li><a class="dropdown-item" href="#">Dutch</a></li>
                                            <li><a class="dropdown-item" href="#">French</a></li>
                                            <li><a class="dropdown-item" href="#">Spanish</a></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown mt-2">
                                        <a class="btn btn-outline-dark dropdown-toggle" href="#" data-bs-toggle="dropdown" style="min-width: 110px">Currency</a>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" href="#">USD</a></li>
                                            <li><a class="dropdown-item" href="#">AUD</a></li>
                                            <li><a class="dropdown-item" href="#">BDT</a></li>
                                            <li><a class="dropdown-item" href="#">SGD</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p class="copyright m-0 py-3 border-top small">&copy; 2021 eCommerce. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/scripts.bundle.js"></script>
    </body>
</html>