$footer-color: rgba($dark, .6);

.footer {
	&_top {
		.footer_widget {
			&__title {
				color: $dark;
			}
			&__content {
				color: $footer-color;
				.navigation {
					list-style: none;
					li {
						& + li {
							margin-top: .5rem;
						}
					}
					a {
						color: $footer-color;
						display: inline-block;
						&:hover {
							color: $dark;
						}
					}
					&_social_media {
						i {
							width: 1.5rem;
						}
					}
				}
			}
		}
	}
	&_bottom {
		.copyright {
			color: $footer-color;
		}
	}
}