<%- include('../partials/header'); %>
<%- include('../partials/breadcrumb'); %>

<div class="bg-white">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table table-comparison">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td class="fw-bold">Product 1</td>
                        <td class="fw-bold">Product 2</td>
                        <td class="fw-bold">Product 3</td>
                    </tr>
                    <tr>
                        <td>Product Image</td>
                        <td><a href="#"><img src="http://placehold.it/220x220" alt="Product"></a></td>
                        <td><a href="#"><img src="http://placehold.it/220x220" alt="Product"></a></td>
                        <td><a href="#"><img src="http://placehold.it/220x220" alt="Product"></a></td>
                    </tr>
                    <tr>
                        <td>Actions</td>
                        <td>
                            <div class="row gx-2">
                                <div class="col-auto">
                                    <button class="btn btn-dark"><i class="fas fa-shopping-basket"></i></button>
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn btn-dark" title="Add to Wishlist"><i class="far fa-heart"></i></a>
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn btn-dark" title="Compare"><i class="fas fa-exchange-alt"></i></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row gx-2">
                                <div class="col-auto">
                                    <button class="btn btn-dark"><i class="fas fa-shopping-basket"></i></button>
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn btn-dark" title="Add to Wishlist"><i class="far fa-heart"></i></a>
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn btn-dark" title="Compare"><i class="fas fa-exchange-alt"></i></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row gx-2">
                                <div class="col-auto">
                                    <button class="btn btn-dark"><i class="fas fa-shopping-basket"></i></button>
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn btn-dark" title="Add to Wishlist"><i class="far fa-heart"></i></a>
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn btn-dark" title="Compare"><i class="fas fa-exchange-alt"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><h4 class="m-0 fw-bold">$500</h4></td>
                        <td><h4 class="m-0 fw-bold">$450</h4></td>
                        <td><h4 class="m-0 fw-bold">$750</h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<%- include('../partials/footer'); %>