<%- include('../partials/header'); %>
    <div class="swiper-slider">
        <div class="swiper-container banner-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('http://wahid.rootnext.xyz/images/ecommerce/slide_1.jpg')">
                    <div class="swiper-slide-inner">
                        <div class="container h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-lg-6 text-center text-lg-start">
                                    <h1 class="text-white mb-4 fw-bolder">Wood Minimal Office Chair Extra 40% off now.</h1>
                                    <a href="#" class="btn py-2 px-4 fw-light btn-outline-white">Start Shopping <i class="lnr lnr-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url('http://wahid.rootnext.xyz/images/ecommerce/slide_2.jpg')">
                    <div class="swiper-slide-inner">
                        <div class="container h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-lg-6 text-center text-lg-start">
                                    <h1 class="text-white mb-4 fw-bolder">Fliegenbein Table Lamp Mordern furniture special offer.</h1>
                                    <a href="#" class="btn py-2 px-4 fw-light btn-outline-white">Start Shopping <i class="lnr lnr-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>


<div class="container pt-5">
    <div class="row">
        <div class="col-lg-4 mb-5">
            <a href="#" class="banner">
                <img class="banner_thumb img-fluid" src="http://wahid.rootnext.xyz/images/ecommerce/banner_sm_1.jpg" alt="Banner Title">
                <span class="banner_overlay">
                    <span class="banner_content">
                        <h5 class="banner_title">NYC Street style</h5>
                        <p class="banner_description">Street pics from new york</p>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-lg-4 mb-5">
            <a href="#" class="banner">
                <img class="banner_thumb img-fluid" src="http://wahid.rootnext.xyz/images/ecommerce/banner_sm_2.jpg" alt="Banner Title">
                <span class="banner_overlay">
                    <span class="banner_content">
                        <h5 class="banner_title">NYC Street style</h5>
                        <p class="banner_description">Street pics from new york</p>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-lg-4 mb-5">
            <a href="#" class="banner">
                <img class="banner_thumb img-fluid" src="http://wahid.rootnext.xyz/images/ecommerce/banner_sm_3.jpg" alt="Banner Title">
                <span class="banner_overlay">
                    <span class="banner_content">
                        <h5 class="banner_title">NYC Street style</h5>
                        <p class="banner_description">Street pics from new york</p>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>


<%- include('../partials/footer'); %>